<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
                xmlns:fo="http://www.w3.org/1999/XSL/Format" version="1.0"
                xmlns:fox="http://xmlgraphics.apache.org/fop/extensions">
  <xsl:output encoding="UTF-8" indent="yes" method="xml"
              standalone="no" omit-xml-declaration="no"/>
  <xsl:template match="data">
    <fo:root language="EN" font-size="6pt" font-family="arial">
      <fo:layout-master-set>
        <fo:simple-page-master master-name="page-master"
                               page-height="152mm" page-width="101mm" margin-top="5mm"
                               margin-bottom="5mm" margin-left="5mm" margin-right="5mm">

          <fo:region-body region-name="body" background-image="url(#writeImageUrl($data.invoiceCancelled))"
                          background-color="transparent" fox:background-image-width="200mm"
                          fox:background-image-height="296mm"/>
          <fo:region-before region-name="header" extent="5mm"
                            margin-bottom="5mm" margin-top="5mm"/>
          display-align="before" precedence="true" />
          <fo:region-after region-name="footer" extent="3mm"
                           margin-bottom="5mm" margin-top="5mm"/>
        </fo:simple-page-master>
      </fo:layout-master-set>
      <fo:page-sequence master-reference="page-master">

        <fo:static-content flow-name="header">
          <fo:block>
          </fo:block>
        </fo:static-content>

        <fo:static-content flow-name="footer">
          <fo:block>
            <fo:leader leader-length="100%" leader-pattern="rule"
                       rule-thickness="0.5px"/>
          </fo:block>
          <fo:table table-layout="fixed" width="100%">
              <fo:table-body>
                  <fo:table-row font-size="5pt">
                      <fo:table-cell padding-after="0pt">
                          <fo:block>
                            Page
                            <fo:page-number/>
                            (This is a system generated document and doesn't need signature)
                          </fo:block>
                       </fo:table-cell>
                       <fo:table-cell text-align="center" padding-before="2pt" padding-after="2pt"
                                                                      display-align="after">
                           <fo:block>Original for Recipient</fo:block>
                       </fo:table-cell>
                   </fo:table-row>
               </fo:table-body>
           </fo:table>
        </fo:static-content>

        <fo:flow flow-name="body" border-collapse="collapse"
                  reference-orientation="0">
            <fo:table table-layout="fixed" width="100%" padding-after="3pt">
                <fo:table-body>
                    <fo:table-row>
                        <fo:table-cell padding-before="2pt" padding-after="2pt"
                                        display-align="after">
                            <fo:block>
                              <fo:external-graphic content-height="10mm"
                                                    content-width="40mm"
                                                    scaling="uniform"
                                                    padding-left="2pt"
                                                    src="url('$data.logoUrl')">
                                </fo:external-graphic>
                            </fo:block>
                        </fo:table-cell>
                        <fo:table-cell text-align="left" padding-after="4pt" display-align="after">
                            <fo:block font-weight="bold" font-size="8pt">
                              Tax Invoice
                            </fo:block>
                        </fo:table-cell>
                    </fo:table-row>
                </fo:table-body>
            </fo:table>
                    
          <fo:block></fo:block>
          <fo:block></fo:block>

          <!-- ADDRESS & TAX -->
          <fo:table table-layout="fixed" width="100%" padding-before="3pt">
            <fo:table-column column-width="proportional-column-width(50)"/>
            <fo:table-column column-width="proportional-column-width(50)"/>

            <fo:table-body>

              <fo:table-row font-weight="bold">
                <fo:table-cell>
                  <fo:block>Sold By:  </fo:block>
                </fo:table-cell>
                <fo:table-cell text-align="right">
                  <fo:block>Billing Address:  </fo:block>
                </fo:table-cell>
              </fo:table-row>

              <fo:table-row>
                <fo:table-cell>
                  <fo:block>#writeString($data.fromPartyName)</fo:block>
                  <fo:block>#writeAddress($data.fromAddress)</fo:block>
                </fo:table-cell>
                <fo:table-cell text-align="right">
                  <fo:block>#writeAddressWithoutPhone($data.billingAddress)</fo:block>
                </fo:table-cell>
              </fo:table-row>

            </fo:table-body>
          </fo:table>


          <fo:table table-layout="fixed" width="100%">
            <fo:table-column column-width="proportional-column-width(50)"/>
            <fo:table-column column-width="proportional-column-width(50)"/>

            <fo:table-body>

              <fo:table-row>
                <fo:table-cell padding-before="4pt">
                  <fo:block></fo:block>
                  <fo:block>
                    <fo:inline font-weight="bold">PAN No:</fo:inline> #writeString($data.panNo)
                  </fo:block>
                  <fo:block>
                    <fo:inline font-weight="bold">GST Registration No:</fo:inline> #writeString($data.fromTaxId)
                  </fo:block>
                </fo:table-cell>

                <fo:table-cell text-align="right">
                  <fo:block font-weight="bold">
                    Shipping Address:
                  </fo:block>

                  <fo:block>#writeAddressWithoutPhone($data.billingAddress)</fo:block>
                </fo:table-cell>
              </fo:table-row>

            </fo:table-body>
          </fo:table>


          <fo:table table-layout="fixed" width="100%" padding-after="3pt">
            <fo:table-column column-width="proportional-column-width(50)"/>
            <fo:table-column column-width="proportional-column-width(50)"/>

            <fo:table-body>

              <fo:table-row>
                <fo:table-cell>
                  <fo:block>
                    <fo:inline font-weight="bold">Order Number:</fo:inline> #writeString($data.channelOrderNo)
                  </fo:block>
                  <fo:block>
                    <fo:inline font-weight="bold">Order Date:</fo:inline> #writeString($data.orderDate)
                  </fo:block>
                </fo:table-cell>

                <fo:table-cell text-align="right">
                  <fo:block>
                    <fo:inline font-weight="bold">Invoice Number:</fo:inline> #writeString($data.invoiceOrStockTransferNo)
                  </fo:block>
                  <fo:block>
                    <fo:inline font-weight="bold">Invoice Date:</fo:inline> #writeDateTime($data.invoiceOrStockTransferTime)
                  </fo:block>
                  <fo:block>
                    <fo:inline font-weight="bold">Payment method:</fo:inline> #writeString($data.paymentInfo.mode)
                  </fo:block>
                </fo:table-cell>
              </fo:table-row>

            </fo:table-body>
          </fo:table>


          <!-- LINE ITEMS -->
          <!-- <fo:block>
            <fo:leader leader-length="100%" leader-pattern="rule"
                       rule-thickness="0px"/>
            Invoice Items
          </fo:block> -->

          <fo:table width="100%" table-layout="fixed" padding-before="3pt">
            <fo:table-column column-number="1" column-width="3%"/> <!--# -->
            <fo:table-column column-number="2" column-width="14%"/><!--No.
							Accommodate EAN -->
            <fo:table-column column-number="3" column-width="22%"/><!--Description -->
            <fo:table-column column-number="4" column-width="8%"/><!--HSN
							up to 100,000 -->
            <fo:table-column column-number="5" column-width="8%"/><!--Unit Price
							up to 100,000 -->
            <fo:table-column column-number="6" column-width="8%"/><!--Discount
							up to 100,000 -->
            <fo:table-column column-number="7" column-width="3%"/><!--Qty-->
            <fo:table-column column-number="8" column-width="8%"/><!--Net Amount
							% -->
            <fo:table-column column-number="9" column-width="5%"/><!--Tax Rate -->
            <fo:table-column column-number="10" column-width="5%"/><!--Tax Type -->
            <fo:table-column column-number="11" column-width="8%"/><!--Tax Amount -->
            <fo:table-column column-number="12" column-width="8%"/><!--Total Amount -->
            <fo:table-header font-weight="bold" font-size="5pt" background-color="#CACACA">
              <fo:table-row border="solid 0.5px black">
                <fo:table-cell border="0.5px solid black">
                  <fo:block>Sl. No</fo:block>
                </fo:table-cell>
                <fo:table-cell border="0.5px solid black">
                  <fo:block>SKU Code</fo:block>
                </fo:table-cell>
                <fo:table-cell border="0.5px solid black">
                  <fo:block>Description</fo:block>
                </fo:table-cell>
                <fo:table-cell border="0.5px solid black">
                  <fo:block>HSN</fo:block>
                </fo:table-cell>
                <fo:table-cell border="0.5px solid black">
                  <fo:block>Unit Price</fo:block>
                </fo:table-cell>
                <fo:table-cell border="0.5px solid black">
                  <fo:block>Discount</fo:block>
                </fo:table-cell>
                <fo:table-cell border="0.5px solid black">
                  <fo:block>Qty</fo:block>
                </fo:table-cell>
                <fo:table-cell border="0.5px solid black">
                  <fo:block>Net Amount</fo:block>
                </fo:table-cell>
                <fo:table-cell border="0.5px solid black">
                  <fo:block>Tax Rate</fo:block>
                </fo:table-cell>
                <fo:table-cell border="0.5px solid black">
                  <fo:block>Tax Type</fo:block>
                </fo:table-cell>
                <fo:table-cell border="0.5px solid black">
                  <fo:block>Tax Amount</fo:block>
                </fo:table-cell>
                <fo:table-cell border="0.5px solid black">
                  <fo:block>Total Amount</fo:block>
                </fo:table-cell>
              </fo:table-row>
            </fo:table-header>

            <fo:table-body font-size="5pt">
              #foreach($item in $data.itemLines)
                <fo:table-row border="solid 0.5px black">
                  <fo:table-cell border="0.5px solid black">
                    <fo:block>$foreach.count</fo:block>
                  </fo:table-cell>
                  <fo:table-cell border="0.5px solid black">
                    <fo:block>#writeString($item.vendorSku)</fo:block>
                  </fo:table-cell>
                  <fo:table-cell border="0.5px solid black">
                    <fo:block>#writeString($item.itemName)</fo:block>
                  </fo:table-cell>
                  <fo:table-cell border="0.5px solid black">
                    <fo:block>#writeString($item.hsnId)</fo:block>
                  </fo:table-cell>
                  <fo:table-cell border="0.5px solid black">
                    <fo:block>$math.roundTo(2, $item.mrp)</fo:block>
                  </fo:table-cell>
                  <fo:table-cell border="0.5px solid black">
                    <fo:block>$math.roundTo(2, $item.discount)</fo:block>
                  </fo:table-cell>
                  <fo:table-cell border="0.5px solid black">
                    <fo:block>$item.quantity</fo:block>
                  </fo:table-cell>
                  <fo:table-cell border="0.5px solid black">
                    <fo:block>$math.roundTo(2, $item.baseSellingPriceTotal)</fo:block>
                  </fo:table-cell>
                  <fo:table-cell border="0.5px solid black">
                    <fo:block>#writeGstTaxRate($item)</fo:block>
                  </fo:table-cell>
                  <fo:table-cell border="0.5px solid black">
                    <fo:block>#writeGstTaxType($item)</fo:block>
                  </fo:table-cell>
                  <fo:table-cell border="0.5px solid black">
                    <fo:block>$math.roundTo(2, $item.netTaxAmountTotal)</fo:block>
                  </fo:table-cell>
                  <fo:table-cell border="0.5px solid black">
                    <fo:block>$math.roundTo(2, $item.actualSellingPriceTotal)</fo:block>
                  </fo:table-cell>
                </fo:table-row>
              #end

              <!-- Final Totals -->
              <fo:table-row border="solid 0.5px black" font-weight="bold" font-size="5pt">
                <fo:table-cell number-columns-spanned="10">
                  <fo:block>TOTAL: </fo:block>
                </fo:table-cell>
                <fo:table-cell border="0.5px solid black" background-color="#CACACA">
                  <fo:block>$math.roundTo(2, $data.finalTaxAmount)</fo:block>
                </fo:table-cell>
                <fo:table-cell border="0.5px solid black" background-color="#CACACA">
                  <fo:block>$math.roundTo(2, $data.finalTotalAmount)</fo:block>
                </fo:table-cell>
              </fo:table-row>

              <!-- Final Total in words -->
              <fo:table-row border="solid 0.5px black" font-weight="bold" font-size="6pt">
                <fo:table-cell number-columns-spanned="12">
                  <fo:block>Amount in words: $data.totalAmountInWords $data.primaryCurrencyUnit and $data.totalAmountCents $data.secondaryCurrencyUnit</fo:block>
                </fo:table-cell>
              </fo:table-row>

            </fo:table-body>
          </fo:table>
                    
          #if($data.signatureUrl)
          <fo:table>
              <fo:table-body font-weight="bold" border="solid 0.5px black">
                  <fo:table-row>
                      <fo:table-cell text-align="right" padding-before="3pt" padding-after="3pt" display-align="after">
                          <fo:block>For #writeString($data.vendorName) </fo:block>
                      </fo:table-cell>
                  </fo:table-row>

                  <fo:table-row>
                      <fo:table-cell text-align="right" padding-before="3pt"  padding-after="3pt" display-align="after" margin-right="5mm">
                          <fo:block>
                              <fo:external-graphic content-height="10mm"
                                                   src="url('$data.signatureUrl')">
                              </fo:external-graphic>
                          </fo:block>
                      </fo:table-cell>
                  </fo:table-row>

                  <fo:table-row>
                      <fo:table-cell text-align="right" padding-after="3pt" display-align="after">
                          <fo:block>Authorized Signatory</fo:block>
                      </fo:table-cell>
                  </fo:table-row>
              </fo:table-body>
          </fo:table>
          #end

          <fo:table>
            <fo:table-body>
              <fo:table-row>
                <fo:table-cell font-size="5pt" padding-before="3pt">
                  <fo:block>GST is payable in reverse charge basis - No</fo:block>
                </fo:table-cell>
              </fo:table-row>
            </fo:table-body>
          </fo:table>

        </fo:flow>
      </fo:page-sequence>
    </fo:root>
  </xsl:template>
</xsl:stylesheet>

#macro(writeImageUrl $invoiceCancelled)
    #set($cancelledUrl='classpath:com/nextscm/commons/images/cancelled_image_1.jpg')
    #set($nonCancelledUrl='classpath:com/nextscm/commons/images/cancelled_image_2.jpg')
    #if($invoiceCancelled == true)
        $cancelledUrl
    #else
        $nonCancelledUrl
    #end
#end


#macro( writeAddress $add)
  #if($add)
  <fo:block>#writeString($add.name)</fo:block>
  <fo:block>#writeString($add.line1)</fo:block>
  <fo:block>#writeString($add.line2)</fo:block>
  <fo:block>
    #if($add.city)
      #writeString($add.city),
    #end
    #writeString($add.state)
    #if($add.stateCode)
     -
     #writeString($add.stateCode)
    #end
  </fo:block>

  <fo:block>
    #if($add.country)
      #writeString($add.country),
    #end
    #writeString($add.zip)
  </fo:block>
  <fo:block>#writeString($add.phone)</fo:block>
  <fo:block></fo:block>
  #end
#end

#macro( writeAddressWithoutPhone $add)
  #if($add)
  <fo:block>#writeString($add.name)</fo:block>
  <fo:block>#writeString($add.line1)</fo:block>
  <fo:block>#writeString($add.line2)</fo:block>
  <fo:block>
    #if($add.city)
      #writeString($add.city),
    #end
    #writeString($add.state)
    #if($add.stateCode)
     -
     #writeString($add.stateCode)
    #end
  </fo:block>

  <fo:block>
    #if($add.country)
      #writeString($add.country),
    #end
    #writeString($add.zip)
  </fo:block>
  <fo:block></fo:block>
  #end
#end

#macro ( writeOrderAndInvoiceDetails $data)
  <fo:block>INVOICE NO. : #writeString($data.invoiceOrStockTransferNo)</fo:block>
  <fo:block>INVOICE DATE : #writeDateTime($data.invoiceOrStockTransferTime)</fo:block>
  <fo:block>ORDER NO. : #writeString($data.orderNo)</fo:block>
  <fo:block>ORDER DATE : #writeDateTime($data.orderTime)</fo:block>
  <fo:block>CHANNEL : #writeString($data.channelName)</fo:block>
  <fo:block>SHIPPED BY : #writeString($data.fromPartyName)</fo:block>
  <fo:block>PAYMENT METHOD : </fo:block>
#end

#macro( writeGstTaxType $data)
  #if($math.abs($data.igstRate) == 0)
    <fo:block>CGST SGST</fo:block>
  #else
    <fo:block>IGST</fo:block>
  #end
#end

#macro( writeGstTaxRate $data)
  #if($math.abs($data.igstRate) == 0)
    <fo:block>#writeString($data.sgstRate) #writeString($data.cgstRate)</fo:block>
  #else
    <fo:block>#writeString($data.igstRate)</fo:block>
  #end
#end

#macro( writeEmail $add)
  <fo:block>
       #writeString($add.email)
  </fo:block>
#end

#macro( writeTaxItems $subTaxItemData)
  #if($subTaxItemData)
    #foreach($taxItem in $subTaxItemData)
    |#writeString($taxItem.type): $math.roundTo(2, $taxItem.rate)
    #end
  |
  #end
#end

#macro( writeTaxItemsData $subTaxItemData)
  #if($subTaxItemData)
    #foreach($taxItem in $subTaxItemData)
    |#writeString($taxItem.type): $math.roundTo(2, $taxItem.subTaxTotal)
    #end
   |
  #end
#end


#macro( writeString $str)
  #if($str)
  <![CDATA[$str]]>
  #end
#end

#macro( writeBarcodeWithoutText $str)
  #if($str.toString().contains("&"))
    #set( $str = $str.replace("&", "&amp;") )
  #end
  #if($str.toString().contains("<"))
    #set( $str = $str.replace("<", "&lt;") )
  #end
  #if($str.toString().contains(">"))
    #set( $str = $str.replace(">", "&gt;") )
  #end
  #if($str.toString().contains("'"))
    #set( $str = $str.replace("'", "&apos;") )
  #end
  #if($str.toString().contains('"'))
    #set( $str = $str.replace('"', "&quot;") )
  #end
  #if($str)
  <fo:instream-foreign-object>
    <bc:barcode xmlns:bc="http://barcode4j.krysalis.org/ns"
                message="$str">
      <bc:code128>
        <bc:height>10mm</bc:height>
        <human-readable>
          <placement>none</placement>
        </human-readable>
      </bc:code128>
    </bc:barcode>
  </fo:instream-foreign-object>
  #end
#end

#macro( writeDateTime $dateTime)
  #if($dateTime)
    $date.format('dd MMM yyyy, hh:mm a', $dateTime)
  #end
#end
